.transaction-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
}

.transaction-table {
  width: 100%;
  margin-top: 20px;
}

.no-data-message {
  text-align: center;
  font-style: italic;
  color: gray;
  padding: 20px;
}

td, th {
  background-color: #c6c6c6;
  border: 1px solid black;
}
