<header>
  <img src="assets/icons/business-logo.svg" alt="Logo" (click)="routeToHome()">
  <nav>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/transactions">Transactions</a></li>
      <li><a routerLink="/reports">Reports</a></li>
      <li><a routerLink="/goals">Goals</a></li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>
  </nav>
  <div class="user-profile">
    <mat-icon (click)="routeToHome()">account_circle</mat-icon>
  </div>
</header>
