.goal-progress .progress-bar {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 10px;
}

.goal-progress .progress {
  background-color: #18ba3b;
  height: 100%;
  border-radius: 20px;
}

.goal-progress h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.goal-progress {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goal {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.diff-style {
  font-size: medium !important;
}
