<header>
    <img ngSrc="./assets/icons/business-logo.svg" alt="Business Logo" width="200" height="100" class="logo">
  <mat-icon svgIcon="main-icon"></mat-icon>
  <nav>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/transactions">Transactions</a></li>
      <li><a routerLink="/reports">Reports</a></li>
      <li><a routerLink="/goals">Goals</a></li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>
  </nav>
  <div class="user-profile">
    <img src="../../assets/profile.png" alt="User Profile">
  </div>
</header>
