<div class="features">
  <div class="feature" (click)="navigate('transactions')">
    <img src="assets/track-spending.svg" alt="Track Spending">
    <h3>Track Spending</h3>
    <p>Monitor your expenses in real-time and stay on top of your budget.</p>
  </div>
  <div class="feature" (click)="navigate('goals')">
    <img src="assets/financial-goals.svg" alt="Financial Goals">
    <h3>Set Financial Goals</h3>
    <p>Create and reach your savings goals with our smart tools.</p>
  </div>
  <div class="feature">
    <img src="../../assets/reports.svg" alt="Create Reports">
    <h3>Create Reports</h3>
    <p>Generate detailed reports to analyze your financial habits.</p>
  </div>
</div>
