.dashboard-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 40px;
}

.account-balance, .recent-transactions {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-balance h2, .recent-transactions h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.account-balance p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #28a745;
}

.recent-transactions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-transactions li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.description {
  font-size: 1rem;
  color: #333;
}

.amount {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
}

.amount.negative {
  color: #e74c3c;
}

.date {
  font-size: 0.9rem;
  color: #999;
}

.goal-progress .progress-bar {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 10px;
}

.goal-progress .progress {
  background-color: #00ff36;
  height: 100%;
  border-radius: 20px;
}

.goal-progress h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.goal-progress {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goal {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
