<div class="dashboard-container">

  <!-- Account Balance Section -->
  <div class="account-balance">
    <h2>Account Balance</h2>
    <p>${{ form.controls.transactions.value | totalPipe : 'amount' : 2 }}</p>
    <div class="goal-progress">
      <h2>Savings Goal Progress</h2>
      <div class="progress-bar">
        <div class="progress" [style.width]="getTransactionPercent < 100 ? getTransactionPercent.toFixed(2) + '%' : '100%'"></div>
      </div>
      <div class="goal">
        <p>{{ getTransactionPercent < 100 ? getTransactionPercent.toFixed(2) + '%' : '100%' }} complete</p>
        <p>{{goal | currency}}</p>
      </div>
    </div>
  </div>

  <!-- Recent Transactions Section -->
  <div class="recent-transactions">
    <h2>Recent Transactions</h2>
    <app-transaction-component [transactionForm]="form"></app-transaction-component>
  </div>
</div>
