<div class="dashboard-container">

  <!-- Account Balance Section -->
  <div class="account-balance">
    <h2>Account Balance</h2>
    <p>${{ form.controls.transactions.value | totalPipe : 'amount' : 2 }}</p>
    <!--<app-progress-bar [goalProgress]="form.controls.transactions"></app-progress-bar>-->
  </div>

  <!-- Recent Transactions Section -->
  <div class="recent-transactions">
    <h2>Recent Transactions</h2>
    <app-transaction-component [transactionForm]="form"></app-transaction-component>
  </div>
</div>
